@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');
*{
  font-family: Noto Sans;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;               /* Use Flexbox for centering */
  justify-content: center;     /* Center horizontally */
  align-items: center; 
  flex-direction: column;
  background-color: #c2bebe42;
  overflow-x: clip;
}
active{
  background-color: yellow;
  color: black;
}
a{
  text-decoration: none;
  color: yellow;
  padding: 3px;
}
a:hover{
  border-bottom: 1px solid yellow;
}